### Mac FileSystem ###
**/.DS_Store
### JetBrains ###
**/.idea
### Build ###
**/cmake-build-debug/
**/cmake-build-debug-csl3/
**/venv/
**/__pycache__ /
### Exercise Instructions ###
*.pdf
*.xml
*.log
###Testing Added Directories ###
**/chess/your_output/
**/chess/expected_output/
**/chess/actual_output/